<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="chrome2`">
  <parameter name="browsername" value="chrome"></parameter>
  <classes>
  <class name="TestRunner"></class>
  </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="firefox">
  <parameter name="browsername" value="firefox"></parameter>
  <classes>
  <class name="TestRunner"></class>
  </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
